<div class="about-titulo">
    <h1>App Screenshots</h1>
    <div class="about-titulo-barra"></div>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../img/app-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../img/app-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../img/app-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../img/app-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../img/app-5.jpg" alt="">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>