@import '../../scss/_deps';

.swiper-container {
    @extend .pad-top-50;
    width: 90%;
    height: 700px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    opacity: .7;
    height: 411px;
    width: 187px;
    margin: auto 0;
}

.swiper-slide-active {
    opacity: 1;
    height: 511px;
    width: 287px;
}

.swiper-pagination-bullet {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, .4);
    opacity: 1;
    height: 11px;
    width: 11px;
}

.swiper-pagination-bullet-active {
    background: #fc397d;
    border: 2px solid #fc397d;

}

.about-titulo {
    @extend .pad-top-80, .text-center, .font-22;
    color: darken(map-get($colors, 'primary'), 10%);
}

.about-titulo-barra {
    @extend .bg-secundary;
    display: block;
    width: 80px;
    height: 2px;
    margin: 0 auto;
    margin-top: 15px;
}

img {
    height: 100%;
}
