<section class="screenshot">

    <!--INICIO - APP SCREENSHOTS-->
    <div class="screenshot-title">
        <p>App Screenshots</p>
        <div class="screenshot-title-trace"></div>
    </div>
    <!--FIM - APP SCREENSHOTS-->

    <!--INICIO - SWIPER-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../img/app-1.jpg" alt="" class="slide-img">
            </div>
            <div class="swiper-slide">
                <img src="../img/app-2.jpg" alt="" class="slide-img">
            </div>
            <div class="swiper-slide">
                <img src="../img/app-3.jpg" alt="" class="slide-img">
            </div>
            <div class="swiper-slide">
                <img src="../img/app-4.jpg" alt="" class="slide-img">
            </div>
            <div class="swiper-slide">
                <img src="../img/app-5.jpg" alt="" class="slide-img">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--FIM - SWIPER-->
    
</section>