@import '../../scss/_deps';


.screenshot {
    @extend .bg-white;

    .swiper-container {
        @extend .pad-top-50;
        height: 100%;
        width: 90%;
    }

    .screenshot .swiper-container {
        width: 90%;
        height: 80vh;
    }

    .swiper-slide {
        @extend .text-center;
        opacity: .7;
        height: 100%;
        width: 100%;
        transform: scale(.8);
    }

    .swiper-slide-active {
        opacity: 1;
        height: 100%;
        width: 100%;
        transform: scale(1)
    }

    .swiper-pagination {
        position: relative;
        margin: 30px 0;
    }

    .swiper-pagination-bullet {
        background: transparent;
        border: 2px solid rgba(0, 0, 0, .4);
        opacity: 1;
        height: 9px;
        width: 9px;
    }

    .swiper-pagination-bullet-active {
        background: #fc397d;
        border: 2px solid #fc397d;

    }

    .screenshot-title {
        @extend .pad-top-80, .text-center, .font-22;
        color: darken(map-get($colors, 'primary'), 10%);
    }

    .screenshot-title-trace {
        @extend .bg-secundary;
        display: block;
        width: 80px;
        height: 2px;
        margin: 15px auto;
    }

    .slide-img {
        height: 100%;
        width: 100%;
    }
}
