<section class="team" id="team">

    <div class="team-title"> <!-- Inicio - Pricing Plan -->
        <h1>Our Team</h1>
        <div class="team-title-trace"></div>
    </div> <!-- Fim - Pricing Plan -->

    <div class="team-box">
        <div class="container">  <!-- INICIO - Container-->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 team-boxs">
                    <div class="team-box-square">
                        <img src="../img/team-1.jpg" alt="" class="team-square-img">
                        <div class="box-square">
                            <div class="box-square-networks">
                                <a class="square-networks" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-twitter"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-google-plus-g"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-box-names team-boxs">
                        <h3 class="box-names">Jackson Nash</h3>
                        <p class="box-profession">Tax Advice</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 team-boxs">
                    <div class="team-box-square">
                        <img src="../img/team-2.jpg" alt="" class="team-square-img">
                        <div class="box-square">
                            <div class="box-square-networks">
                                <a class="square-networks" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-twitter"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-google-plus-g"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-box-names">
                        <h3 class="box-names">Alex Manning</h3>
                        <p class="box-profession">CEO-Founder</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 team-boxs">
                    <div class="team-box-square">
                        <img src="../img/team-3.jpg" alt="" class="team-square-img">
                        <div class="box-square">
                            <div class="box-square-networks">
                                <a class="square-networks" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-twitter"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-google-plus-g"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-box-names">
                        <h3 class="box-names">Ollie Schneider</h3>
                        <p class="box-profession">Business Planner</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 team-boxs">
                    <div class="team-box-square">
                        <img src="../img/team-4.jpg" alt="" class="team-square-img">
                        <div class="box-square">
                            <div class="box-square-networks">
                                <a class="square-networks" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-twitter"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-google-plus-g"></i></a>
                                <a class="square-networks" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-box-names">
                        <h3 class="box-names">Roger West</h3>
                        <p class="box-profession">Financer</p>
                    </div>
                </div>
            </div>
        </div> <!-- FIM - Container-->
    </div>

</section>