@import '../../scss/_deps';

.team {
    @extend .font-16, .cl-gray, .bg-white;
    line-height: 1.8;

    .team-title {
        @extend .pad-both-80, .text-center, .font-22;
        color: darken(map-get($colors, 'primary'), 10%);

        .team-title-trace {
            @extend .bg-secundary;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
            height: 2px;
            width: 80px;
        }
    }

    .team-box {
        .team-box-square {
            position: relative;

            .team-square-img {
                border-radius: 30px 30px 30px 0;
                background-size: cover;
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }

            .box-square {
                @extend .halign-middle, .valign-middle, .calign-middle;
                background: rgba(map-get($colors, 'primary'), .8);
                border-radius: 30px 30px 30px 0;
                display: flex; 
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;

                &:hover {
                    @extend .cl-white;
                    transition: 700ms;
                    opacity: 1 !important;
                }

                .box-square-networks {
                    display: flex;
                    flex-direction: row;

                    .square-networks {  
                        @extend .mg-sides-5, .text-center, .cl-white;
                        background: lighten(map-get($colors, 'primary'), 15%);
                        border-radius: 10px 10px 10px 0;
                        line-height: 40px;
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }

        .team-box-names {
            @extend .pad-both-20;

            .box-names {
                color: darken(map-get($colors, 'primary'), 20%);
            }
        }
    }
}
