<div class="about">
    <div class="container">
        <div class="about-titulo">
            <h1>Why Is It Special</h1>
            <div class="about-titulo-barra"></div>
        </div>

        <div class="row about-lista">
            <div class="col-lg-4">
                <div class="about-quadrado">
                    <i class="fas fa-mobile-alt quadrado-icon"></i>
                    <h3 class="quadrado-titulo">Easy to use</h3>
                    <p>We build pretty complex tools and this allows us to take designs and turn them into functional
                        quickly and easily</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-quadrado">
                    <i class="far fa-edit quadrado-icon"></i>
                    <h3 class="quadrado-titulo">Powerful Design</h3>
                    <p>We build pretty complex tools and this allows us to take designs and turn them into functional
                        quickly and easily</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-quadrado">
                    <i class="fas fa-cog quadrado-icon"></i>
                    <h3 class="quadrado-titulo">Customizability</h3>
                    <p>We build pretty complex tools and this allows us to take designs and turn them into functional
                        quickly and easily</p>
                </div>
            </div>
        </div>

        <div class="row about-special">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-7 about-special-smartphone">
                <img src="img/special.png" alt="" class="special-smartphone">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 about-special-text">
                <h1 class="special-titulo">Our Best Propositions for You!</h1>
                <p class="special-paragrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor ut labore et dolore
                    magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <div class="row special-store">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div href="#" class="special-store-buttom">
                            <i class="fab fa-android special-store-buttom-icon"></i>
                            <p class="special-store-buttom-text">Google Store</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div href="#" class="special-store-buttom">
                            <i class="fab fa-apple special-store-buttom-icon"></i>
                            <p class="special-store-buttom-text">Apple Store</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>