<section class="about" id="about">
    <!--INICIO - CONTAINER-->
    <div class="container">
        <!--INICIO - WHY IS IT SPECIAL-->
        <div class="about-title">
            <p>Por que escolher nossa plataforma?</p>
            <div class="about-title-trace"></div>
        </div>
        <!--FIM- WHY IS IT SPECIAL-->

        <!--INICIO - WHY IS IT SPECIAL BOX-->
        <div class="row about-list">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 about-list-box">
                <div class="about-box">
                    <i class="fas fa-mobile-alt box-icon"></i>
                    <h3 class="box-title">Fácil de usar</h3>
                    <p>
                        Criamos ferramentas poderosas que transformam seu design
                        em funcionalidades reais, sem exigir conhecimento
                        técnico.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 about-list-box">
                <div class="about-box">
                    <i class="far fa-edit box-icon"></i>
                    <h3 class="box-title">Design de impacto</h3>
                    <p>
                        Layouts modernos e responsivos que valorizam sua marca
                        em qualquer dispositivo.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 about-list-box">
                <div class="about-box">
                    <i class="fas fa-cog box-icon"></i>
                    <h3 class="box-title">Totalmente personalizável</h3>
                    <p>
                        Edite cores, fontes e seções com poucos cliques para
                        deixar sua loja com a sua cara.
                    </p>
                </div>
            </div>
        </div>
        <!--FIM - WHY IS IT SPECIAL BOX-->

        <!--INICIO - OUR BEST PROPOSITIONS FOR YOU!-->
        <div class="row about-special">
            <div
                class="col-sm-12 col-md-12 col-lg-6 col-xl-7 about-special-smartphone"
            >
                <img src="img/special.png" alt="" class="special-smartphone" />
            </div>
            <div
                class="col-sm-12 col-md-12 col-lg-6 col-xl-5 about-special-text"
            >
                <h1 class="special-title">
                    Nossas melhores propostas para você
                </h1>
                <p class="special-text">
                    Tenha acesso a recursos premium, suporte dedicado e
                    atualizações constantes que mantêm sua loja sempre à frente
                    da concorrência.
                </p>

                <!--INICIO - BUTTOM GOGGLE STORE E APPLE STORE-->
                <div class="row special-store">
                    <div class="col-sm-12 col-md-4 col-lg-6 col-xl-6">
                        <a href="#" class="special-store-buttom">
                            <i
                                class="fab fa-android special-store-buttom-icon"
                            ></i>
                            <p class="special-store-buttom-text">
                                <span class="buttom-text-available"
                                    >available on</span
                                >Google Store
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-6 col-xl-6">
                        <a href="#" class="special-store-buttom">
                            <i
                                class="fab fa-apple special-store-buttom-icon"
                            ></i>
                            <p class="special-store-buttom-text">
                                <span class="buttom-text-available"
                                    >available on</span
                                >Apple Store
                            </p>
                        </a>
                    </div>
                </div>
                <!--FIM - BUTTOM GOGGLE STORE E APPLE STORE-->
            </div>
        </div>
        <!--FIM - OUR BEST PROPOSITIONS FOR YOU!-->
    </div>
    <!--FIM - CONTAINER-->
</section>
