@import '../../scss/_deps';

// WHY IS IT SPECIAL
.about {
    @extend .font-16, .cl-gray, .bg-white;
    line-height: 1.5;

    .about-title {
        @extend .pad-both-80, .text-center, .font-40;
        font-weight: 700;
        color: darken(map-get($colors, 'primary'), 15%);

        .about-title-trace {
            @extend .bg-secundary;
            display: block;
            margin: 10px auto;
            width: 80px;
            height: 2px;
        }
    }

    // WHY IS IT SPECIAL BOX
    .about-list {
        .about-list-box {
            @extend .mg-bottom-20;

            .about-box {
                @extend .pad-all-30, .text-center;
                border: 1px solid #eff2f6;
                border-radius: 25px 25px 25px 0;
                width: 100%;
                height: 100%;

                &:hover {
                    @extend .bg-white;
                    transition: 1s;
                    box-shadow: 0 10px 90px rgba(map-get($colors, 'black'), .1);
                }

                .box-icon {
                    @extend .font-40, .pad-bottom-20, .cl-secundary;
                }

                .box-title {
                    @extend .font-20, .pad-bottom-20;
                    color: darken(map-get($colors, 'primary'), 15%);
                }
            }
        }
    }

    // OUR BEST PROPOSITIONS FOR YOU!
    .about-special {
        @extend .mg-top-100;

        .about-special-smartphone {
            .special-smartphone {
                width: 100%;
                height: 100%;
            }
        }

        .about-special-text {
            .special-title {
                @extend .font-34, .mg-bottom-25;
                color: darken(map-get($colors, 'primary'), 10%);
                line-height: 1.3;
            }

            // BUTTOM GOGGLE STORE E APPLE STORE
            .special-store {
                @extend .font-14, .pad-top-40, .text-center;
                line-height: 1;

                .special-store-buttom {
                    @extend .pad-both-15, .mg-both-5, .halign-middle, .cl-gray;
                    display: flex;
                    flex-direction: row;
                    min-width: 174px;
                    border: 1px solid #ddd;
                    border-radius: 30px 30px 30px 0;
                    box-shadow: 0 10px 30px rgba(map-get($colors, 'black'), .1);

                    &:hover {
                        @extend .bg-secundary, .cl-white;
                        transition: 700ms;
                    }

                    .special-store-buttom-text {
                        font-weight: 700;

                        .buttom-text-available { 
                            @extend .font-10;
                            display: block;
                        }
                    }

                    .special-store-buttom-icon {
                        @extend .font-26, .mg-right-10;
                    }
                }
            }
        }
    }
}
