@import '../../scss/_deps';

.about {
    @extend .font-16, .cl-gray, .bg-white;
    line-height: 1.8;

    .about-title {
        @extend .pad-both-80, .text-center, .font-22;
        color: darken(map-get($colors, 'primary'), 10%);

        .about-title-trace {
            @extend .bg-secundary;
            display: block;
            width: 80px;
            height: 2px;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    .about-list {
        .about-box {
            @extend .pad-all-30, .text-center;
            border: 1px solid #eff2f6;
            border-radius: 25px 25px 25px 0;
            width: 100%;
            height: 100%;

            &:hover {
                @extend .bg-white;
                transition: 300ms;
                box-shadow: 0 10px 90px rgba(map-get($colors, 'black'), .1);
            }

            .box-icon {
                @extend .font-40, .pad-bottom-20, .cl-secundary;
            }

            .box-title {
                @extend .font-20, .pad-bottom-20;
                color: darken(map-get($colors, 'primary'), 10%);
            }
        }
    }

    .about-special {
        @extend .mg-top-100;

        .about-special-smartphone {
            .special-smartphone {
                width: 100%;
                height: 100%;
            }
        }

        .about-special-text {
            .special-title {
                @extend .font-40, .pad-bottom-40;
                color: darken(map-get($colors, 'primary'), 15%);
                line-height: 1.3;
            }

            .special-store {
                @extend .font-16, .pad-top-40, .text-center;

                .special-store-buttom {
                    @extend .pad-both-10, .pad-sides-20, .mg-both-5;
                    width: 100%;
                    border: 1px solid #ddd;
                    border-radius: 30px 30px 30px 0;
                    box-shadow: 0 10px 30px rgba(map-get($colors, 'black'), .1);

                    &:hover {
                        @extend .bg-secundary, .cl-white;
                        transition: 700ms;
                    }

                    .special-store-buttom-text-available {
                        display: block;
                    }

                    .special-store-buttom-icon {
                        @extend .font-24;
                    }

                    .special-store-buttom-text {
                        display: inline;
                    }
                }
            }
        }
    }
}
