// src/scss/_components/_font-face.scss
@use "sass:map";
@use "./_config" as config; // ajuste o caminho conforme a sua pasta

// gera @font-face e utilitários
@each $font in map.keys(config.$fonts) {
    @font-face {
        font-family: #{map.get(config.$fonts, $font)};
        src: url("../fonts/#{$font}.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    // placeholder para extender
    %#{$font} {
        font-family: #{map.get(config.$fonts, $font)}, sans-serif;
    }
}
