@import '../../scss/_deps';

.pricing {
    @extend .font-16, .cl-gray, .bg-white;
    line-height: 1.8;

    .pricing-title {
        @extend .pad-both-80, .text-center, .font-22;
        color: darken(map-get($colors, 'primary'), 10%);

        .pricing-title-trace {
            @extend .bg-secundary;
            display: block;
            width: 80px;
            height: 2px;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    .pricing-plan {
        @extend .text-center;

        .pricing-box-plan {
            margin: 0;
            padding: 0 1px;
            background: #fff;
            border: 1px solid #ebebeb;
            border-radius: 30px 30px 30px 0;

            &:hover .box-plan-button{
                @extend .bg-amethyst;
                transition: 500ms;
            }

            .box-plan-money {
                @extend .pad-both-30;
                border-radius: 30px 30px 0 0;

                .plan-money {
                    @extend .font-44, .cl-secundary;

                    .money {
                        font-size: 16px;
                    }
                }

                .plan-money-text {
                    @extend .font-16, .cl-primary;
                    font-weight: bold;
                }
            }

            .special-plan {
                @extend .bg-amethyst, .pad-both-30;
                border-radius: 30px 30px 0 0;

                .special-plan-money {
                    @extend .font-44, .cl-white;
                        .money {
                            font-size: 16px;
                        }
                }

                .special-plan-text {
                    @extend .font-16, .cl-white;
                    font-weight: bold;
                }
            }

            .special-plan-button {
                @extend .bg-amethyst;
                border-radius: 0 0 20px;

                .special-button {
                    @extend .pad-both-10, .cl-white, .font-16;
                    background: transparent;
                }

                &:hover {  
                    @extend .bg-kimberly; 
                }
            }

            .box-plan-description { 
                .plan-description {
                    line-height: 2.7;

                    li {
                        background: #fff;
                        border-top: 1px solid #ebebeb;
                        border-bottom: 1px solid #ebebeb;
                    }
                }
            }

            .box-plan-button {
                @extend .bg-kimberly;
                border-radius: 0 0 20px;

                .plan-button {
                    @extend .pad-both-10, .cl-white, .font-16;
                    background: transparent;
                }
            }
        }
    }
}
