<div class="pricing">

    <div class="pricing-title">
        <!-- Inicio - Pricing Plan -->
        <h1>Pricing Plan</h1>
        <div class="pricing-title-trace"></div>
    </div> <!-- Fim - Pricing Plan -->

    <div class="pricing-plan">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="pricing-box-plan">
                        <div class="">
                            <p>Starter Plan</p>
                            <h1>29</h1>
                        </div>
                        <div class="">
                            <ul>
                                <li>Up to 10 users monthly</li>
                                <li>Unlimited updates</li>
                                <li>Free host & domain</li>
                                <li>24/7 Support</li>
                                <li>10 Unique Users</li>
                            </ul>
                        </div>
                        <div class="box-plan-button">
                            <button class="plan-button">Select Plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="pricing-box-plan">
                        <div class="">
                            <p>Starter Plan</p>
                            <h1>29</h1>
                        </div>
                        <div class="">
                            <ul>
                                <li>Up to 10 users monthly</li>
                                <li>Unlimited updates</li>
                                <li>Free host & domain</li>
                                <li>24/7 Support</li>
                                <li>10 Unique Users</li>
                            </ul>
                        </div>
                        <div class="box-plan-button">
                            <button class="plan-button">Select Plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="pricing-box-plan">
                        <div class="">
                            <p>Starter Plan</p>
                            <h1>29</h1>
                        </div>
                        <div class="">
                            <ul>
                                <li>Up to 10 users monthly</li>
                                <li>Unlimited updates</li>
                                <li>Free host & domain</li>
                                <li>24/7 Support</li>
                                <li>10 Unique Users</li>
                            </ul>
                        </div>
                        <div class="box-plan-button">
                            <button class="plan-button">Select Plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="pricing-box-plan">
                        <div class="">
                            <p>Starter Plan</p>
                            <h1>29</h1>
                        </div>
                        <div class="box-plan-description">
                            <ul>
                                <li>Up to 10 users monthly</li>
                                <li>Unlimited updates</li>
                                <li>Free host & domain</li>
                                <li>24/7 Support</li>
                                <li>10 Unique Users</li>
                            </ul>
                        </div>
                        <div class="box-plan-button">
                            <button class="plan-button">Select Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>