<div class="pricing">

    <!--INICIO - TITLE PRICING PLAN -->
    <div class="pricing-title">
        <h1>Pricing Plan</h1>
        <div class="pricing-title-trace"></div>
    </div>
    <!--FIM - TITLE PRICING PLAN -->

    <!--INICIO - PRICING PLAN-->
    <div class="pricing-plan">
        <!--INICIO - CONTAINER-->
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 pricing-box-plan">
                    <div class="box-plan-money">
                        <p class="plan-money-text">Starter Plan</p>
                        <h1 class="plan-money"><span class="money">$</span>29</h1>
                    </div>
                    <div class="box-plan-description">
                        <ul class="plan-description">
                            <li>Up to 10 users monthly</li>
                            <li>Unlimited updates</li>
                            <li>Free host & domain</li>
                            <li>24/7 Support</li>
                            <li>10 Unique Users</li>
                        </ul>
                    </div>
                    <div class="box-plan-button">
                        <button class="plan-button">Select Plan</button>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 pricing-box-plan">
                    <div class="box-plan-money">
                        <p class="plan-money-text">Basic Plan</p>
                        <h1 class="plan-money"><span class="money">$</span>49</h1>
                    </div>
                    <div class="box-plan-description">
                        <ul class="plan-description">
                            <li>Up to 10 users monthly</li>
                            <li>Unlimited updates</li>
                            <li>Free host & domain</li>
                            <li>24/7 Support</li>
                            <li>10 Unique Users</li>
                        </ul>
                    </div>
                    <div class="box-plan-button">
                        <button class="plan-button">Advenced Plan</button>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 pricing-box-plan">
                    <div class="special-plan">
                        <p class="special-plan-text">Starter Plan</p>
                        <h1 class="special-plan-money"><span class="money">$</span>69</h1>
                    </div>
                    <div class="box-plan-description">
                        <ul class="plan-description">
                            <li>Up to 10 users monthly</li>
                            <li>Unlimited updates</li>
                            <li>Free host & domain</li>
                            <li>24/7 Support</li>
                            <li>10 Unique Users</li>
                        </ul>
                    </div>
                    <div class="special-plan-button">
                        <button class="special-button">Select Plan</button>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 pricing-box-plan">
                    <div class="box-plan-money">
                        <p class="plan-money-text">Community Plan</p>
                        <h1 class="plan-money"><span class="money">$</span>99</h1>
                    </div>
                    <div class="box-plan-description">
                        <ul class="plan-description">
                            <li>Up to 10 users monthly</li>
                            <li>Unlimited updates</li>
                            <li>Free host & domain</li>
                            <li>24/7 Support</li>
                            <li>10 Unique Users</li>
                        </ul>
                    </div>
                    <div class="box-plan-button">
                        <button class="plan-button" >Select Plan</button>
                    </div>
                </div>
                
            </div>
        </div>
        <!--FIM - CONTAINER-->
    </div>
    <!--FIM - PRICING PLAN-->
</div>