@use "sass:color";
@import "../../scss/_deps";

// PRICING PLAN
.pricing {
    @extend .font-16, .cl-gray, .bg-gray-extra-light;
    line-height: 1.5;

    .pricing-title {
        @extend .pad-both-80, .text-center, .font-40;
        font-weight: 700;
        color: color.adjust(map.get($colors, "primary"), $lightness: -15%);

        .pricing-title-trace {
            @extend .bg-secundary;
            display: block;
            margin: 10px auto;
            width: 80px;
            height: 2px;
        }
    }

    // PRICING PLAN BOX
    .pricing-plan {
        @extend .text-center, .mg-top-40, .pad-bottom-80, .mg-sides-30;

        .pricing-box-plan {
            @extend .bg-white, .mg-top-30;
            padding: 0 1px;
            border: 1px solid
                color.adjust(map.get($colors, "white"), $lightness: -5%);
            border-radius: 30px 30px 30px 0;

            &:hover .box-plan-button {
                @extend .bg-amethyst;
                transition: 500ms;
            }

            .box-plan-money {
                @extend .pad-both-30;
                border-radius: 30px 30px 0 0;

                .plan-money {
                    @extend .font-44, .cl-secundary;

                    .money {
                        @extend .font-16;
                    }
                }

                .plan-money-text {
                    @extend .font-16, .cl-primary;
                    font-weight: bold;
                }
            }

            .special-plan {
                @extend .bg-amethyst, .pad-both-30;
                border-radius: 30px 30px 0 0;

                .special-plan-money {
                    @extend .font-44, .cl-white;

                    .money {
                        @extend .font-16;
                    }
                }

                .special-plan-text {
                    @extend .font-16, .cl-white;
                    font-weight: bold;
                }
            }

            .special-plan-button {
                @extend .bg-amethyst;
                border-radius: 0 0 20px;

                .special-button {
                    @extend .pad-both-10, .cl-white, .font-16;
                    background: transparent;
                }
            }

            .box-plan-description {
                .plan-description {
                    line-height: 2.7;

                    li {
                        @extend .bg-white;
                        border-top: 1px solid
                            color.adjust(
                                map.get($colors, "white"),
                                $lightness: -5%
                            );
                        border-bottom: 1px solid
                            color.adjust(
                                map.get($colors, "white"),
                                $lightness: -5%
                            );
                    }
                }
            }

            .box-plan-button {
                @extend .bg-kimberly;
                border-radius: 0 0 20px;

                .plan-button {
                    @extend .pad-both-10, .cl-white, .font-16;
                    background: transparent;
                }
            }
        }
    }
}
