@import '../../scss/_deps';

.navbar {
    @extend .bg-white;
    position: fixed;
    background: rgba(map-get($colors, 'primary'), .8);
    width: 100%;
    z-index: 99;

    .navbar-logo h1 {
        @extend .font-50;
        font-weight: bold;
        color: map-get($colors, 'white');
    }

    .navbar-links {
        @extend .row, .valign-middle, .halign-right;

        a {
            @extend .mg-sides-5, .font-13;
            
            color: map-get($colors, 'white');
        }
    }

    .navbar-button {
        @extend .pad-all-10;
        border: 2px solid lighten(map-get($colors, 'primary'), 15%);
        border-radius: 24px 24px 24px 0;
        background: rgba(map-get($colors, 'primary'), .1);
        color: map-get($colors, 'white');
        font-weight: bold;
    }
}

.home {
    .home-fundo {
        position: relative;
        background: url('../img/welcome-bg.png') no-repeat;
        background-position: bottom center;
        background-size: cover;
        height: 900px;
        width: 100%;
        z-index: 1;
        transform-origin: top;

        .home-smartphone {
            .smartphone {
                position: absolute;
                top: 400px;
                right: 85px;
                width: 750px; 
                transform-origin: top;
            }
        }

        @media (max-width: 1199px) and (min-width: 992px) {
            .home-smartphone {
                .smartphone {
                    position: absolute;
                    top: 460px;
                    right: 25px;
                    width: 650px; 
                    transform-origin: top;
                }
            }
        }

        @media (max-width: 991px) and (min-width: 768px) {
            .home-smartphone {
                .smartphone {
                    position: absolute;
                    top: 542px;
                    right: 15px;
                    width: 550px;
                    transform-origin: top; 
                }
            }
        }

        @media (max-width: 767px) and (min-width: 480px) {
            .home-smartphone {
                .smartphone {
                    position: absolute;
                    top: 592px;
                    right: 5px;
                    width: 450px;
                    transform-origin: top;
                }
            }
        }
    }   
}

// .home {

//     label[for="bt_menu"] {
//         padding: 10px;
//         background: red;
//         color: black;
//         cursor: pointer;
//         font-size: 30px;
//         height: 50px;
//         width: 50px;
//         text-align: center;
//         display: none;
//     }

//     #bt_menu {
//         display: none;
//     }


//     .menu {
//         width: 100%;
//         height: 50px;
//         position: fixed;

//         .menu-ul {
//             position: relative;
//             display: flex;
//             justify-content: flex-end;

//             .menu-li {
//                 width: 150px;
//                 float: right;
//             }
//         }
//     }

//     .menu-a {
//         padding: 15px;
//         display: block;
//         text-decoration: none;
//         text-align: center;
//         background: black;
//         color: white;
//     }
    
//     @media(max-width: 800px) {

//         label[for="bt_menu"] {
//             display: block;
//         }

//         #bt_menu:checked ~ .menu{
//             margin-left: 0;
//         }

//         .menu {
//             padding: 5px;

//             .menu-ul {
//                 display: flex;
//                 flex-direction: column;

//                 .menu-li {
//                     width: 100%;
//                     float: none;
//                 }
//             }
//         }
//     }

// }
