<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="contact-title">
                    <h1>Get in touch with us!</h1>
                    <div class="contact-title-trace"></div>
                </div>
                <p class="contact-text">We'll send you epic weekly blogs, whitepapers and things to make your app
                    startup thrive, all FREE!</p>
                <p><span class="contact-featured">Address:</span> 40 Baria Sreet 133/2 NewYork City, US</p>
                <p><span class="contact-featured">Phone:</span> +11-225-888-888-66</p>
                <p><span class="contact-featured">Email:</span> info.deercreative@gmail.com</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="contact-inputs">
                    <input type="text" class="form-control" placeholder="Your Name">
                    <input type="text" class="form-control" placeholder="Your Name">
                    <textarea type="text" class="form-control form-control-large" placeholder="Your Name"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>