<section class="features" id="features">

    <!--INICIO - TITLE AWESOME FEATURES-->
    <div class="features-title">
        <p>Awesome Features</p>
        <div class="features-title-trace"></div>
    </div>
    <!--FIM - TITLE AWESOME FEATURES-->


    <!--INICIO - BOXs AWESOME FEATURES-->
    <div class="features-list">
        <!--INICIO - CONTAINER -->
        <div class="container"> 
            <div class="row">

                <!--INICIO - AWESOME EXPERIENCE-->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-box">
                        <i class="far fa-user features-box-icon"></i>
                        <h2 class="features-box-title">Awesome Experience</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <!--FIM - AWESOME EXPERIENCE-->

                <!--INICIO - FAST AND SIMPLE-->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-box">
                        <i class="fas fa-chart-line features-box-icon"></i>
                        <h2 class="features-box-title">Fast and Simple</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <!--FIM - FAST AND SIMPLE-->

                <!--INICIO - CLEAN CODE-->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-box">
                        <i class="fas fa-tachometer-alt features-box-icon"></i>
                        <h2 class="features-box-title">Clean Code</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <!--FIM - CLEAN CODE-->

                <!--INICIO - PERFECT DESIGN-->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-box">
                        <i class="fas fa-palette features-box-icon"></i>
                        <h2 class="features-box-title">Perfect Design</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <!--FIM - PERFECT DESIGN-->

                <!--INICIO - BEST INDUSTRY LEADER-->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-box">
                        <i class="fas fa-crown features-box-icon"></i>
                        <h2 class="features-box-title">Best Industry Leader</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <!--FIM - BEST INDUSTRY LEADER-->

                <!--INICIO - ONLINE SUPPORT-->
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-box">
                        <i class="fas fa-headphones features-box-icon"></i>
                        <h2 class="features-box-title">24/7 Online Support</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <!--FIM - ONLINE SUPPORT-->

            </div>
        </div>
        <!--FIM - CONTAINER -->
    </div>
    <!--FIM - BOXs AWESOME FEATURES-->

    <!--INICIO - VIDEO PLAY-->
    <div class="features-video">
        <div class="container">
            <div class="features-video-play">
                <img src="../img/video.jpg" alt="" class="features-video-play-img">
                <a href="" class="video-play-btn">
                    <i class="fas fa-play-circle"></i>
                </a>
            </div>
        </div>
    </div>
    <!--FIM - VIDEO PLAY-->
    
    <!--INICIO - VIDEO PLAY DETAIL-->
    <div class="features-trace-video">
        <!--INICIO - CONTAINER -->
        <div class="container"> 
            <div class="row features-trace-text">

                <!--INICIO - APP DOWNLOADS-->
                <div class="col-md-12 col-lg-3 col-xl-3">
                    <div class="row features-box-trace">
                        <div class="box-trace-number">
                            <p>90</p>
                        </div>
                        <div class="box-trace-icon">
                            <i class="fas fa-arrow-down trace-icon"></i>
                            <p>app <br> downloads</p>
                        </div>
                    </div>
                </div>
                <!--FIM - APP DOWNLOADS-->

                <!--INICIO - HAPPY CLIENTS-->
                <div class="col-md-12 col-lg-3 col-xl-3">
                    <div class="row features-box-trace">
                        <div class="box-trace-number">
                            <p>120</p>
                        </div>
                        <div class="box-trace-icon">
                            <i class="far fa-smile trace-icon"></i>
                            <p>happy <br> clients</p>
                        </div>
                    </div>
                </div>
                <!--FIM - HAPPY CLIENTS-->

                <!--INICIO - ACTIVE ACCOUNTS-->
                <div class="col-md-12 col-lg-3 col-xl-3">
                    <div class="row features-box-trace">
                        <div class="box-trace-number">
                            <p>40</p>
                        </div>
                        <div class="box-trace-icon">
                            <i class="fas fa-user trace-icon"></i>
                            <p>active <br> accounts</p>
                        </div>
                    </div>
                </div>
                <!--FIM - ACTIVE ACCOUNTS-->

                <!--INICIO - TOTAL APP RATES-->
                <div class="col-md-12 col-lg-3 col-xl-3">
                    <div class="row features-box-trace">
                        <div class="box-trace-number">
                            <p>10</p>
                        </div>
                        <div class="box-trace-icon">
                            <i class="far fa-star trace-icon"></i>
                            <p>total <br> app rates</p>
                        </div>
                    </div>
                </div>
                <!--FIM - TOTAL APP RATES-->

            </div>
        </div>
        <!--INICIO - CONTAINER -->
    </div>
    <!--FIM - VIDEO PLAY DETAIL-->

</section>
