<div class="features">

    <div class="features-titulo">
        <h1>Awesome Features</h1>
        <div class="features-titulo-barra"></div>
    </div>

    <div class="features-lista">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-quadrado">
                        <i class="far fa-user features-quadrado-icon"></i>
                        <h2 class="features-quadrado-titulo">Awesome Experience</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-quadrado">
                        <i class="fas fa-chart-line features-quadrado-icon"></i>
                        <h2 class="features-quadrado-titulo">Fast and Simple</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-quadrado">
                        <i class="fas fa-tachometer-alt features-quadrado-icon"></i>
                        <h2 class="features-quadrado-titulo">Clean Code</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-quadrado">
                        <i class="fas fa-palette features-quadrado-icon"></i>
                        <h2 class="features-quadrado-titulo">Perfect Design</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-quadrado">
                        <i class="fas fa-crown features-quadrado-icon"></i>
                        <h2 class="features-quadrado-titulo">Best Industry Leader</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="features-quadrado">
                        <i class="fas fa-headphones features-quadrado-icon"></i>
                        <h2 class="features-quadrado-titulo">24/7 Online Support</h2>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit
                            anim
                            idest laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features-video">
        <div class="container">
            <div class="features-video-play">
                <img src="../img/video.jpg" alt="" class="features-video-play-img">
                <a href="#" class="video-play-btn">
                    <i class="fas fa-play-circle"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="features-barra-video">
        <div class="container">
            <div class="row features-barra-text">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="row features-quadrado-barra">
                        <div class="quadrado-barra-number">
                            <p>90</p>
                        </div>
                        <div class="quadrado-barra-icon">
                            <i class="far fa-smile barra-icon"></i>
                            <p>app downloads</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="row features-quadrado-barra">
                        <div class="quadrado-barra-number">
                            <p>120</p>
                        </div>
                        <div class="quadrado-barra-icon">
                            <i class="far fa-smile barra-icon"></i>
                            <p>happy clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="row features-quadrado-barra">
                        <div class="quadrado-barra-number">
                            <p>40</p>
                        </div>
                        <div class="quadrado-barra-icon">
                            <i class="far fa-smile barra-icon"></i>
                            <p>active accounts</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <div class="row features-quadrado-barra">
                        <div class="quadrado-barra-number">
                            <p>10</p>
                        </div>
                        <div class="quadrado-barra-icon">
                            <i class="far fa-smile barra-icon"></i>
                            <p>total app rates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>