@use "sass:color";
@use "sass:map";
@use "../../scss/_deps" as *;
@use "../../scss/_components/_config" as *;

.features {
    @extend .font-16, .cl-gray, .bg-white;
    line-height: 1.5;

    // AWESOME FEATURES
    .features-title {
        @extend .pad-both-80, .text-center, .font-40;
        font-weight: 700;
        color: color.adjust(map.get($colors, "primary"), $lightness: -15%);

        .features-title-trace {
            @extend .bg-secundary;
            display: block;
            margin: 10px auto;
            width: 80px;
            height: 2px;
        }
    }

    //BOXs AWESOME FEATURES
    .features-list {
        .features-box {
            @extend .pad-both-20, .pad-sides-5;

            .features-box-title {
                @extend .font-20;
                display: inline;
                color: color.adjust(
                    map.get($colors, "primary"),
                    $lightness: -10%
                );
            }

            .features-box-icon {
                @extend .font-30, .pad-right-10, .cl-secundary, .mg-bottom-10;
            }
        }
    }

    //VIDEO PLAY
    .features-video {
        @extend .pad-top-80;
        position: relative;
        bottom: -100px;

        .features-video-play {
            display: flex;
            border: 20px solid map.get($colors, "white");
            border-radius: 5%;
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
            height: 100%;

            .features-video-play-img {
                width: 100%;
                height: 100%;
            }

            .video-play-btn {
                @extend .font-80,
                    .cl-secundary,
                    .bg-white,
                    .halign-middle,
                    .valign-middle;
                position: absolute;
                left: 50%;
                top: 50%;
                display: flex;
                transition: 500ms;
                border-radius: 100%;
                height: 50px;
                width: 50px;

                &:hover {
                    @extend .cl-primary;
                }
            }
        }
    }

    //VIDEO PLAY DETAIL
    .features-trace-video {
        padding: 190px 0 80px;
        background: linear-gradient(to left, #7873ed, #a865e1);

        .features-trace-text {
            @extend .font-18, .cl-white;

            .features-box-trace {
                @extend .halign-middle, .valign-bottom;
                display: flex;

                .box-trace-number {
                    @extend .mg-sides-10;
                    font-size: 3em;
                }

                .box-trace-icon {
                    @extend .pad-all-5;

                    .trace-icon {
                        @extend .font-30, .pad-bottom-10;
                    }
                }
            }
        }
    }
}
