        <!-- Começo do Conteúdo do footer -->
            
        <!-- Final do Conteúdo do footer -->

        <!-- Chamadas dos arquivos JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.esm.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.esm.bundle.js"></script>
        <script type="text/javascript" src="./js/bundle.min.js"></script>
    </body>
</html>
