<!-- Começo do Conteúdo do footer -->
<div class="footer-contact">

    <div class="footer-contact-shadow">
        <!--Start - Container-->
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!--Start - Get in touch with us!-->
                    <div class="contact-title">
                        <h1>Get in touch with us!</h1>
                        <div class="contact-title-trace"></div>
                    </div>
                    <!--End - Get in touch with us!-->

                    <!--Start - Contact-->
                    <p class="contact-text">We'll send you epic weekly blogs, whitepapers and things to make your app
                        startup thrive, all FREE!</p>
                    <p><span class="contact-featured">Address:</span> 40 Baria Sreet 133/2 NewYork City, US</p>
                    <p><span class="contact-featured">Phone:</span> +11-225-888-888-66</p>
                    <p><span class="contact-featured">Email:</span> info.deercreative@gmail.com</p>
                    <!--End - Contact-->
                </div>


                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!--Start - Inputs-->
                    <div class="contact-inputs">
                        <input type="text" class="form-control" placeholder="Your Name">
                        <input type="text" class="form-control" placeholder="Your Name">
                        <textarea type="text" class="form-control form-control-large" placeholder="Your Name"></textarea>
                    </div>
                    <!--End - Inputs-->
                    <!--Start - Button-->
                        <a href="" class="contact-inputs-button">Send Now</a>
                    <!--End - Button-->
                </div>

            </div>
        </div>
        <!--End - Container-->
    </div>
</div>

<!--INICIO - FOOTER CA.-->
<footer>
    <div class="footer-ca">
        <h1 class="footer-text">Ca.</h1>
        <div class="footer-social">
            <a class="footer-networks" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="special-networks" href=""><i class="fab fa-twitter"></i></a>
            <a class="footer-networks" href=""><i class="fab fa-google-plus-g"></i></a>
            <a class="footer-networks" href=""><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-menu">
            <a href="" class="footer-menu-link">About |</a>
            <a href="" class="footer-menu-link"> Terms & Conditions |</a>
            <a href="" class="footer-menu-link"> Privacy Policy |</a>
            <a href="" class="footer-menu-link"> Contact </a>
        </div>
        <p class="footer-copyright">Copyright ©2017 Ca. Designed by <a href="" class="link-colorlib">Colorlib</a></p> 
    </div>
</footer>
<!--FIM - FOOTER CA.-->

<!-- Final do Conteúdo do footer -->

<!-- Chamadas dos arquivos JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.esm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.esm.bundle.js"></script>
<script type="text/javascript" src="./js/bundle.min.js"></script>
</body>

</html>