@import '../../scss/_deps';


.testimonials {
    @extend .pad-top-40, .font-18, .text-center, .bg-white, .pad-bottom-30;

    .swiper-container {
        padding-bottom: 10vh;
        max-width: 1300px;
        height: 600px;
        width: 100%;

        .swiper-slide {
            @extend .valign-middle, .flex-column, .halign-right;
            display: flex;
            max-width: 100%;

            .quoto {
                @extend .font-50;
                color: lighten(map-get($colors, 'primary'), 10%);
                padding: 3vh;
            }

            .phrases {
                padding: 20px;

            }

            .testimonials-phrases {
                position: absolute;
                top: 0;
                left: -20vh;
                right: -20vh;
                opacity: 0; 
            }

            .pharases-star {
                @extend .cl-orange, .font-14, .mg-both-20;
                top: 25px;
            }

            .testimonials-pharases-names {
                @extend .font-16, .cl-gray;

                .pharases-names {
                    @extend .font-22, .pad-both-10;
                    color: darken(map-get($colors, 'primary'), 20%);
                }
            }

            .testimonials-image {
                @extend .halign-middle, .valign-middle;
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                opacity: .3;
                width: 70px;
                height: 70px;
                border: 6px solid map-get($colors, 'white');
                box-shadow: 0 4px 20px rgba(map-get($colors, 'black'), .1);

                .people {
                    width: 100%;
                    height: 100%;
                }
            }

            &-active {
                .testimonials-phrases {
                    opacity: 1;
                }

                .testimonials-image {
                    opacity: 1;
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .swiper-pagination {
            position: relative;
            margin: 30px 0;

            .swiper-pagination-bullet {
                @extend .bg-white;
                opacity: .8;
                border: 3px solid map-get($colors, 'gray');
                width: 12px;
                height: 12px;
            }

            .swiper-pagination-bullet-active {
                background: map-get($colors, 'secundary');
                border: 2px solid map-get($colors, 'secundary');
            }  
        }
    }

    .testimonials-people {
        @extend .valign-middle, .flex-column;
        display: flex;
        width: 350px;
        height: 650px;
    }

    .testimonials-trace {
        @extend .pad-both-40, .bg-primary;
        background: linear-gradient(to left, #7873ed, #a865e1);

        .testimonials-trace-text {
            @extend .pad-both-20, .cl-white, .text-left;

            .trace-text {
                @extend .font-16;
            }
        }

        .testimonials-trace-button {
            @extend .halign-middle, .valign-middle;
            display: flex;

            .trace-button {
                @extend .cl-secundary, .bg-white, .pad-all-10, .font-16;
                display: inline-block;
                border-radius: 23px 23px 23px 0;
                font-weight: bold;
                width: 100%;
                max-width: 185px;

                &:hover {
                    @extend .cl-white;
                    transition: 600ms;
                    background: darken(map-get($colors, 'primary'), 10%);
                }
            }
        }
    }
}
