@import '../../scss/_deps';


.testimonials {
    @extend .mg-top-100, .font-18, .text-center;

    .swiper-container .swiper-slide .phrases {
        opacity: 0;
    }
     .swiper-container .swiper-slide-active .phrases {
        opacity: 1;
    }

    .swiper-container .swiper-slide-active .people {
        width: 100px;
        height: 100px;
    }

    .testimonials-people {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        height: 350px;

        .people {
            border: 2px solid red;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-top: 60px;
        }

        .testimonials-phrases {
            .phrases {
                position: absolute;
                top: 0;
                left: -300px;
                right: -300px;
            }
        }
    }

    .testimonials-trace {
        @extend .pad-both-50, .bg-primary, .mg-both-100;
        background: linear-gradient(to left, #7873ed, #a865e1);

        .testimonials-trace-text {
            color: map-get($colors, 'white');
        }

        .testimonials-trace-button {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .trace-button {
                @extend .pad-all-10;
                border-radius: 24px 24px 24px 0;
                background: map-get($colors, 'white');
                color: map-get($colors, 'secundary');
                font-weight: bold;
                height: 50px;
                width: 170px;
            }
        }
    }
}
