<section class="testimonials">
    <!-- Swiper -->
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
            <div class="swiper-slide">gdfgd</div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
                <div class="swiper-slide">gdfgd</div>
        </div>
    </div>
</section>