@import '../../scss/_deps';


.testimonials {
    @extend .pad-top-100, .font-18, .text-center, .bg-white, .pad-bottom-30;

    .swiper-container {
        padding-bottom: 10vh;
        max-width: 1300px;
        height: 500px;
        width: 100%;

        .swiper-slide {
            @extend .valign-middle, .flex-column, .halign-right;
            display: flex;
            max-width: 100%;

            .quoto {
                @extend .font-40, .cl-primary;
                padding: 3vh;
            }

            .testimonials-phrases {
                position: absolute;
                top: 0;
                left: -20vh;
                right: -20vh;
                opacity: 0; 
            }

            .pharases-star {
                color: yellow;
                top: 25px;
            }

            .pharases-names {
                margin: 3vh;
            }

            .testimonials-image {
                @extend .halign-middle, .valign-middle;
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                opacity: .3;
                width: 70px;
                height: 70px;

                .people {
                    width: 100%;
                    height: 100%;
                }
            }

            &-active {
                .testimonials-phrases {
                    opacity: 1;
                }

                .testimonials-image {
                    opacity: 1;
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .swiper-pagination {
            position: relative;
            margin: 30px 0;

            .swiper-pagination-bullet-active {
                background: #fc397d;
                border: 2px solid #fc397d;
            }  
        }
    }

    .testimonials-people {
        @extend .valign-middle, .flex-column;
        display: flex;
        width: 350px;
        height: 650px;
    }

    .testimonials-trace {
        @extend .pad-both-50, .bg-primary;
        background: linear-gradient(to left, #7873ed, #a865e1);

        .testimonials-trace-text {
            color: map-get($colors, 'white');
            text-align: left;

            .trace-text {
                @extend .font-16;
                margin-bottom: 30px;
            }
        }

        .testimonials-trace-button {
            display: flex;
            justify-content: center;
            align-items: center;

            .trace-button {
                @extend .pad-all-10;
                border-radius: 24px 24px 24px 0;
                background: map-get($colors, 'white');
                color: map-get($colors, 'secundary');
                font-weight: bold;
                height: 50px;
                width: 170px;

                &:hover {
                    @extend .cl-white;
                    transition: 600ms;
                    background: darken(map-get($colors, 'primary'), 10%);
                }
            }
        }
    }
}
